.last-step-body .laststep-description{
    font-size: 15px;
    color: rgb(140, 142, 145);
}

.language-option-description{
    font-size: 13px;
    color: rgb(140, 142, 145);
    margin-left: 30px;
    margin-top: -10px;
}