
.contact_section {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .contact_section .heading_container {
    margin-bottom: 25px;
  }
  
  .contact_section .heading_container h2 {
    text-transform: uppercase;
  }
  
  .contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    outline: none;
    color: #101010;
    background: #eeeeee;
  }
  
  .contact_section .form_container input::-webkit-input-placeholder {
    color: #000000;
  }
  
  .contact_section .form_container input:-ms-input-placeholder {
    color: #000000;
  }
  
  .contact_section .form_container input::-ms-input-placeholder {
    color: #000000;
  }
  
  .contact_section .form_container input::placeholder {
    color: #000000;
  }
  
  .contact_section .form_container input.message-box {
    height: 175px;
  }
  
  .contact_section .form_container button {
    width: 100%;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #1fab89;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #1fab89;
  }
  
  .contact_section .form_container button:hover {
    background-color: transparent;
    color: #1fab89;
  }
  
  .contact_section .map_container {
    height: 433px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
  }
  
  .contact_section .map_container .map {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .contact_section .map_container .map #googleMap {
    height: 100%;
  }