.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168); */
  }
  .form-container button:active {
    scale: 0.95;
  }
  
  .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    color: #000;
  }
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  /* .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #000;
    background-color:#35e3c0ce;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 7px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color:#1e9c83ce;
  } */
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
.forgot-img img{
    max-width: 300px;
    min-height: 200px;
}
.card-1{
    margin: 0px auto;
    
}
.forgot-img{
    margin: 0px auto;
    
}
.div2{
    display: grid;
    place-items: center;
    margin: 30px auto 0px auto;
    width: 250px;
    border-radius: 0.75rem;
    background-color:#fff(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    width: min(100%,450px);
    border: 1px solid rgba(55, 65, 81, 1);
    box-shadow: 15px 5px 30px rgb(0,0,0,0.3);
  }
  .forgot-button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.7rem 2rem;
    margin: 9px 64px 0 44px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 10px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   .forgot-button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .forgot-button:hover span {
    color: black;
   }
   
   .forgot-button::before,
   .forgot-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .forgot-button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .forgot-button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   .error{
    color: red;
    font-weight: 500;
   }